*.class
*.log

# Mac-specific
*.DS_Store

# Artifact folders
bin/
.cache-main
.classpath
.project
.settings/
model/
*tmp/

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet
.idea
