<!DOCTYPE html>
<html>
<head>
  <title>Pregnaware</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" media="screen" href="/css/main.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body id="body" ng-app="graviditate">

<div ng-show="false">Loading...</div>

<div ng-controller="LoginCtrl as login" ng-cloak>

  <div class="container">
    <h1>Pregnaware</h1>

    <div class="panel panel-default">
      <div class="panel-body">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li class="active"><a href="#login" data-toggle="tab">Login</a></li>
          <li><a href="#newuser" data-toggle="tab">New Mum</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="login">
            <!-- novalidate disables the browser's validation logic so we can use Angular instead -->
            <form class="form-group row" ng-submit="login.loginAction()" name="loginForm" novalidate>
              <div class="col-sm-5">
                <input class="form-control" required ng-model="login.loginRequest.email" type="email"
                       placeholder="abc@xyz.com"/>
              </div>
              <div class="col-sm-5">
                <input class="form-control" required ng-model="login.loginRequest.password" ng-minlength="6"
                       type="password" placeholder="Password"/>
              </div>
              <div class="col-sm-2">
                <button class="btn btn-primary" ng-disabled="!loginForm.$valid" type="Submit">Log In</button>
              </div>
            </form>
          </div>

          <div role="tabpanel" class="tab-pane" id="newuser">
            <form class="form-group row" ng-submit="login.newUserAction()" name="newUserForm" novalidate>
              <div class="col-sm-3">
                <input class="form-control" required ng-model="login.newUserRequest.displayName" ng-minlength="1"
                       name="displayName" type="text" placeholder="Display name"/>
              </div>
              <div class="col-sm-4">
                <input class="form-control" required ng-model="login.newUserRequest.email" name="email"
                       type="email" placeholder="E-mail address"/>
              </div>
              <div class="col-sm-3">
                <input class="form-control" required ng-model="login.newUserRequest.password" ng-minlength="6"
                       name="password"
                       type="password" placeholder="Password"/>
              </div>

              <div class="col-sm-2">
                <button ng-disabled="!newUserForm.$valid" class="btn btn-primary" type="Submit">
                  Create
                </button>
              </div>
            </form>
            <p class="text-center">
              Only <strong>MUMS TO BE</strong> should register on this page. Partners & friends must wait to be
              invited!
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<common-footer></common-footer>

<!-- JQuery -->
<script type='text/javascript' src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

<!-- Angular -->
<script type='text/javascript' src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script type='text/javascript'
        src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
<script type='text/javascript'
        src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-cookies.min.js"></script>

<!-- Bootstrap -->
<script type='text/javascript' src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script type='text/javascript' src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.14.3.js"></script>

<!-- Moment (date/time parsing) -->
<script type='text/javascript' src="/js/node_modules/moment/min/moment.min.js"></script>

<!-- Main application -->
<script type='text/javascript' src="/js/app.js"></script>

</body>
</html>
