<div>
  <div class="jumbotron">
    <h1>Pregnaware</h1>
    <h3>BETA</h3>

    <div class="container">
      <div class="row">
        <div class="col-xs-6 text-right">
          <button ng-click="showLogin()" class="btn btn-default btn-lg btn-login">Log in</button>
        </div>
        <div class="col-xs-6 text-left">
          <button ng-click="showRegister()" class="btn btn-default btn-lg btn-login">New user</button>
        </div>
      </div>
    </div>
  </div>

  <div class="container form-group-lg" ng-show="isRegisterVisible">
    <div class="row">
      <div class="col-xs-12">
        <div class="panel panel-default">
          <form class="panel-body" ng-submit="register()">
            <input class="form-control login-margin" required ng-model="displayName" type="text"
                   placeholder="Display Name"/>

            <input class="form-control login-margin" required ng-model="email" type="email" placeholder="Email"/>

            <input class="form-control login-margin" required ng-model="password" ng-minlength="6" type="password"
                   placeholder="Password"/>

            <div class="text-right">
              <input type="submit" class="btn btn-primary btn-lg" value="Register">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="container form-group-lg" ng-show="isLoginVisible">
    <div class="row">
      <div class="col-xs-12">
        <div class="panel panel-default">
          <form class="panel-body" ng-submit="login()">
            <input class="form-control login-margin" required ng-model="email" type="email" placeholder="Email"/>

            <input class="form-control login-margin" required ng-model="password" ng-minlength="6" type="password"
                   placeholder="Password"/>

            <div class="text-right">
              <input type="submit" class="btn btn-primary btn-lg" value="Login">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>