<div>
  <table class="table">
    <tr>
      <td nowrap>Enter due date:</td>
      <td class="input-group">
        <input
            readonly
            type="text"
            class="form-control"
            uib-datepicker-popup="dd MMMM yyyy"
            ng-model="main.DueDate"
            is-open="main.DueDatePickerOpen"
            ng-required="true"/>
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="main.DueDatePickerOpen=true">
              <i class="glyphicon glyphicon-calendar"></i>
            </button>
            <button type="button" class="btn btn-default" ng-click="main.UpdateDueDate()">Update</button>
          </span>
      </td>
    </tr>
  </table>
</div>
