/* Used to hide handlebar artifacts until Angular has loaded */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

body {
    padding-top: 70px;  /* If using .navbar-fixed-top, ensure the body starts after the Bootstrap nav bar (50px) */
}

.navbar-background {
    background-color: white;
}

.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 20px;
}

/*Highlighting for form validation (only applied if the form is invalid and touched)*/
input.ng-invalid.ng-touched {
    border-color: red;
/*outline-color: red;*/
}

input.ng-valid {
/*border-color: green;*/
/*outline-color: green;*/
}