<div class="container">

  <div class="panel panel-success">
    <div class="panel-heading">
      <h3 class="panel-title">
        Baby Names <span ng-hide="canEdit" class="label label-success">{{viewedUser}}</span>
      </h3>
    </div>

    <div class="panel-body">
      <div class="row">

        <!-- Girls names -->
        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title text-center">Girls <a href ng-click="showGeneralNameStats(false)"><span class="glyphicon glyphicon-stats"></span></a></h3>
            </div>
            <div class="panel-body">
              <div style="margin-bottom: 15px">
                <form class="form-inline text-center" ng-submit="addCurrentNameGirl(currentNameGirl)">
                  <div class="input-group">
                    <input class=" form-control" type="text" placeholder="Girls name" ng-model="currentNameGirl">
                    <span class="input-group-btn">
                      <button type="submit" class="btn btn-primary" ng-disabled="isNameInvalid(currentNameGirl)">Add
                      </button>
                    </span>
                  </div>
                </form>
                <div class="text-center" ng-show="currentNameGirl.length > 0 && isNameInvalid(currentNameGirl)">
                  <label class="label label-danger">Duplicate</label>
                </div>
              </div>

              <table class="table table-striped">
                <tbody>
                <tr ng-repeat="entry in girlsNames">
                  <th class="text-center">{{entry.name}}</th>
                  <td class="text-center">
                    <small><em>{{entry.suggestedByName}}</em></small>
                  </td>
                  <td class="text-center">
                    <a href ng-click="showSpecificNameStats(entry.name, false)"><span class="glyphicon glyphicon-resize-small glyphicon-stats"></span></a>
                  </td>
                  <td class="text-center">
                    <small ng-show="canEdit"><a ng-click="deleteName(entry)"><span
                        class="glyphicon glyphicon-remove"></span></a></small>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div> <!-- End of girls names -->

        <!-- Boys names -->
        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title text-center">Boys <a href ng-click="showGeneralNameStats(true)"><span class="glyphicon glyphicon-stats"></span></a></h3>
            </div>
            <div class="panel-body">
              <div style="margin-bottom: 15px">
                <form class="form-inline text-center" ng-submit="addCurrentNameBoy(currentNameBoy)">
                  <div class="input-group">
                    <input class=" form-control" type="text" placeholder="Boys name" ng-model="currentNameBoy">
                    <span class="input-group-btn">
                      <button type="submit" class="btn btn-primary" ng-disabled="isNameInvalid(currentNameBoy)">Add
                      </button>
                    </span>
                  </div>
                </form>
                <div class="text-center" ng-show="currentNameBoy.length > 0 && isNameInvalid(currentNameBoy)">
                  <label class="label label-danger">Duplicate</label>
                </div>
              </div>

              <table class="table table-striped">
                <tbody>
                <tr ng-repeat="entry in boysNames">
                  <th class="text-center">{{entry.name}}</th>
                  <td class="text-center">
                    <small><em>{{entry.suggestedByName}}</em></small>
                  </td>
                  <td class="text-center">
                    <a href ng-click="showSpecificNameStats(entry.name, true)"><span class="glyphicon glyphicon-resize-small glyphicon-stats"></span></a>
                  </td>
                  <td class="text-center">
                    <small ng-show="canEdit"><a href ng-click="deleteName(entry)"><span
                        class="glyphicon glyphicon-remove"></span></a></small>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div> <!-- End of boys names -->

      </div>
    </div>
  </div>
</div>
