<div class="container">

  <div class="panel panel-success">
    <div class="panel-heading">
      <h3 class="panel-title">
        Progress <span ng-hide="canEdit" class="label label-success">{{viewedUser.displayName}}</span>
        <span class="pull-right">&nbsp;&nbsp;</span>
        <button ng-show="canEdit" class="btn btn-xs btn-success pull-right" ng-click="changeDueDate()">Change due
          date
        </button>
      </h3>
    </div>
    <div class="panel-body">

      <!-- When the due date is known -->
      <div ng-show="progress">
        <div class="row">
          <div class="col-md-12">
            <uib-progressbar animate="false" type="success" value="progress.daysPassed"
                             max="280"></uib-progressbar>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <p>Elapsed: {{progress.daysPassed}} days ({{progress.weeksPassed}} weeks)</p>
          </div>
          <div class="col-md-4">
            <p class="text-center">Remaining: {{progress.daysRemaining}} days ({{progress.weeksRemaining}} weeks)</p>
          </div>
          <div class="col-md-4">
            <p class="pull-right">Due: {{progress.formattedDueDate}}</p>
          </div>
        </div>
      </div> <!-- End known due date -->

      <!-- When the due date is missing -->
      <div class="row" ng-hide="progress">
        <div class="col-md-12">

          <form class="form-inline text-center">
            <label class="control-label" for="dueDatePicker">Select due date: </label>
            <div class="input-group">
              <input
                  readonly
                  type="text"
                  id="dueDatePicker"
                  class="form-control"
                  uib-datepicker-popup="dd MMMM yyyy"
                  ng-model="dueDate"
                  is-open="dueDatePickerOpen"
                  ng-required="true"/>
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="dueDatePickerOpen=true">
                      <i class="glyphicon glyphicon-calendar"></i>
                    </button>
                    <button type="button" class="btn btn-default" ng-click="updateDueDate(dueDate)">Update</button>
                  </span>
            </div>
          </form>
        </div>
      </div> <!-- End missing due date -->

    </div>
  </div>
</div>
